body {
    margin: 0;
    background: #4914F8;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #C1BED1;
}

/* Top Section */

#Top-section {
    display: flex;
    margin-right: 300px;
}

#Brain-fm-logo {
    flex-grow: 1;
    margin: 10px;
    margin-left: 50px;
}

#Top-section button {
    margin: 10px;
    padding: 10px;
    font-size: medium;
}

div button #Sign-in-button {
    background-color: transparent;
}

#Sign-in-button {
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

#Try-button {
    width: 125px;
    border-radius: 25px;
    background: linear-gradient(to right,rgb(213, 170, 16),rgb(255, 149, 0));
    color: white;
    border: none;
    cursor: pointer;
}

div #Try-button {
    margin-right: 100px;
}

/* Top Section */
/* Middle Section */

#Middle-Section {
    margin-top: 250px;
    margin-bottom: 250px;
    margin-right: 100px;
    margin-left: 100px;
}

#Middle-Section h2 {
    width: 800px;
    margin-bottom: 1px;
    margin-right: 0px;
    font-weight: 300;
    font-size: 40px;
}

#Middle-Section h1 {
    color: white;
    margin-top: 1px;
    margin-right: 0px;
}

#Middle-Section h2 {
    color: white;
}


#Middle-Section img {
    max-width: 800px;
}

#Intro-Section {
    max-width: 700px;
    margin-left: 50px;
    margin-right: 250px;
    float: left;
}

#Intro-Section #Intro-p {
    font-size:x-large
}

#Intro-Section img {
    width: 80%;
    margin-bottom: 30px; 
}


#Intro-Section button {
    padding: 30px;
    border-radius: 50px;
    width: 300px;
    background: linear-gradient(to right,rgb(213,170,16), rgb(255,149,0));
    color: white;
    border: none;
    cursor: pointer;
    font-size:large;
    margin-right: 700px;
}

#Image-Section {
    display: inline;
    margin-left: -200px;
    width: 600px;
}

#Image-Section img {
    margin-right: 10px;
    padding-right: 10px;
}

/*Middle Section */
/*Bottom Section */
h3 {
    text-align: center;
    margin-top: 400px;
    margin-bottom: 250px;
}

#Bottom-Images {
    display: flex;
    margin: 100px 300px;
    margin-bottom: -150px;
}

#Bottom-Images img  {
    width: 600px;
    margin: 50px;
}

#Bottom-Info {
    display: flex;
    margin: 100px 300px;
    color: white;
    font-size:x-large;
}

#Bottom-Info div {
    width: 600px;
    margin: 50px;
}

#Left-Info span {
    font-size: xx-large;
    font-weight: 400;
}

#Left-Info p {
    font-weight: 200;
}

#Left-Info span h4 {
    text-decoration: underline;
    text-decoration-thickness:3px;
}

#Right-Info span {
    font-size: xx-large;
    font-weight: 400;
}

#Right-Info p {
    font-weight: 200;
}

